{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>home</title>
    <style>
        .body{
            background-color: whitesmoke;
        }
    </style>
</head>
<body class="body">

    <div class="row">
        <div class="col-lg-8">
            <div class="card mt-5" style="margin-left: 140px;">
                <h5 class="card-header bg-secondary text-white">Question</h5>
                <div class="card-body">
                  <h3 class="card-title">{{ questions.id }}.{{ questions.question }}</h3><hr>
                  <span class="card-text mt-0">posted on: {{ questions.date_created|date:"d M,Y"  }} </span><br><br><br><br><br>
                  <p href="#" class="#" style="margin-left: 620px;">Asked by:<b>{{ questions.normal_user.fname }}</b></p>
                </div>
            </div><br>
            <!--liked button-->
            <div style="margin-left: 140px;">
              <form action="{% url 'forumapp:liked' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name='question_id' value='{{ questions.id }}'>
                  {% if user not in questions.like_question.all %}     
                    <button type="submit" class="btn btn-primary">Like</button>
                  {% else %}
                    <button type="submit" class="btn btn-danger">Dislike</button>

                  {% endif %}
                  <strong>{{ questions.like_question.all.count }}likes</strong>
              </form>
            </div><br>
            <div class="mycomment">
               {% include 'question/comment.html' %}
            </div>


        </div>
        <div class="col-lg-4">
            <br>
            <div class="card" style="width: 25rem;margin-top:24px;margin-left: 70px;">
                <div class="card-header bg-secondary text-white">
                  Related Questions
                </div>
                <div class="ml-4 text-dark">
                    <p>1.what is best movie in tollywood?</p>
                    <p>2.what is best movie in tollywood?</p>
                    <p>3.what is best movie in tollywood?</p>
                    <p>4.what is best movie in tollywood?</p>
                    <p>5.what is best movie in tollywood?</p>
                    <p>6.what is best movie in tollywood?</p>
                    <p>7.what is best movie in tollywood?</p>
                    <p>8.what is best movie in tollywood?</p>
                    <p>9.what is best movie in tollywood?</p>
                </div>


            </div>

        </div>
    </div>

    <script type="text/javascript">
        
  
  
        //this is cool effect when users click the reply button
        $('.reply-btn').click(function() {
            $(this).parent().parent().next('.reply-next').fadeToggle()
          });


        //ajax calls after submit button
        $(document).on('submit', '.comment', function(event){
          event.preventDefault();
          console.log('hehehehehehe');
          console.log($(this).serialize());
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              $('.mycomment').html(response['form']);
              
            },
            error: function(rs, e) {
              console.log(rs.responseText);
            },
          });
        });

  
      </script>
</body>
</html>

{% endblock %}
