{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>home</title>
    <style>
        .body{
            background-color: whitesmoke;
        }
    </style>
</head>
<body class="body">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mt-5" style="margin-left: 140px;">
                <h5 class="card-header bg-secondary text-white">Question</h5>
                <div class="card-body">
                  <h3 class="card-title">{{ questions.id }}.{{ questions.question }}</h3><hr>
                  <span class="card-text mt-0">posted on: {{ questions.date_created|date:"d M,Y"  }} </span><br><br><br><br><br>
                  <p href="#" class="#" style="margin-left: 620px;">Asked by:<b>{{ questions.user_q.fname }}</b></p><br>
                  <p href="#" class="#" style="margin-left: 620px;"><b>total likes : {{ questions.like_question.count }}</b></p>
                  {% if questions.user_q.user.username == request.user.username %}
                    <button type="button" class="update-question btn btn-sm btn-dark"data-id="{% url 'forumapp:question_update' questions.pk %}">
                      <span class="fa fa-pencil"></span></button>
                    <button type="button" class="delete-question btn btn-sm btn-dark" data-id="{% url 'forumapp:question_delete' questions.pk %}">
                        <span class="fa fa-trash"></span></button>
                  {% endif %}
                </div>
              
               
          
            </div><br>
            <!-- {% if reply.user_a.user.username == request.user.username %} -->
                
            <!-- {% endif %} -->
            <!-- <strong>{{ questions.like_question.count }}likes</strong> -->

            <!-- <form action="{% url 'forumapp:liked' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="q_id" value="{{ questions.id }}">
              {% if request.user not in questions.like_question.all %}     
                <button type="submit" class="btn btn-primary">Like</button>
              {% else %}
                <button type="submit" class="btn btn-danger">liked</button>
  
              {% endif %} -->
            </form>
            <div class="mycomment">
               {% include 'question/comment.html' %}
            </div>


        </div>
        <div class="col-lg-4">
            <br>
            <div class="card" style="width: 25rem;margin-top:24px;margin-left: 70px;">
                <div class="card-header bg-secondary text-white">
                  Related Questions
                </div>
                {% for category in similar_questions %}
                <div class="ml-4 text-dark">
                    <a href="{% url 'forumapp:questiondetail' category.id %}"><p style="color: black;">{{forloop.counter}}.{{category}}</p></a>
                    
                </div>
                {% endfor %}


            </div>

        </div>
    </div>

    <script type="text/javascript">
        
  
  
        //this is cool effect when users click the reply button
        $('.reply-btn').click(function() {
            $(this).parent().parent().next('.reply-next').fadeToggle()
          });


        //ajax calls after submit button
        $(document).on('submit', '.comment', function(event){
          event.preventDefault();
          console.log('hehehehehehe');
          console.log($(this).serialize());
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              $('.mycomment').html(response['form']);
              
            },
            error: function(rs, e) {
              console.log(rs.responseText);
            },
          });
        });

        $(".update-question").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });


        // Delete book buttons
            $(".delete-question").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            })

  
      </script>
</body>
</html>

{% endblock %}
