
{% load widget_tweaks %}


<div class="modal-header" style="background-color:whitesmoke;">
  <h4 class="modal-title" style="color:#696969;"><i class="fa fa-bell fa-sm"></i>Notifications</h4>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% if notifications %}
        {% for n in notifications %}
                <div class="modal-body">
                        {% if n.user %}
                                <i class="fa fa-comment">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                <span><b>{{ n.user.fname }}</b> commented on your question <b>{{ n.question.question }}</b></span>
                        {% else %}
                                <i class="fa fa-thumbs-up fa-sm"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span><b>{{ n.like.user.username }}</b> liked your question <b>{{ n.question.question }}</b></span>
                        {% endif %}
                </div>
        {% endfor %}
{% else %}
        <div class="modal-body">
                <span>No new notifications</span>
        </div>
{% endif %}

