
{% load widget_tweaks %}


<div class="modal-header" style="background-color:whitesmoke;">
  <h4 class="modal-title" style="color:#696969;"><i class="fa fa-bell fa-sm"></i>Notifications</h4>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% for n in notifications %}
       <!-- user_q : {{n.question.user_q.user}}
       user = = = = {{request.user}}<br>  -->

        {% if n.question.user_q.user == request.user %}
                
                <div class="modal-body">
                        {% if n.user %}
                        <i class="fa fa-comment">&nbsp;&nbsp;&nbsp;&nbsp;</i><span><b>{{ n.user.fname }}</b> commented in your questions <b><a class="text-dark" href="{% url 'forumapp:questiondetail' n.question.id %}">{{ n.question.question }}</a></b></span>
                        {% else %}
                        <i class="fa fa-thumbs-up fa-sm"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span><b>{{ n.like.user.username }}</b> liked your questions <b>{{ n.question.question }}</b></span>
                        {% endif %}

                        
                        
                </div>
        {% endif %}

{% endfor %}

