{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>home</title>
    <style>
        .body{
            background-color: whitesmoke;
        }
    </style>
</head>
<body class="body">

    <div class="row">
        <div class="col-lg-3">
            {% include 'forum/sidebar.html' %}
        </div>
        <div class="col-lg-9">
            <br><br>
            {% if education %}
                {% include 'category/education.html' %}
            {% elif sports %}
                {% include 'category/sports.html' %}
            
            {% elif politics %}
                {% include 'category/politics.html' %}
            {% elif fashion %}
                {% include 'category/fashion.html' %}
            {% elif health %}
                {% include 'category/health.html' %}
            
            {% elif it %}
                {% include 'category/it.html' %}
            {% else %}
                <p></p>
            
            {% endif %}

           

        </div>
    </div>

</body>
</html>

{% endblock %}
