{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block content %}
<html>

<head>
    <title>View User</title>

</head>

<body class="body">
    <br>
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                        <div class="modal-dialog">
                            <div class="modal-content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered mt-2">
                            <thead class="bg-primary">
                                <tr>
                                    <th scope="col">S.N</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Question</th>
                                    <th scope="col">Answer</th>
                                    <th scope="col">Delete</th>
        
                                </tr>
                            </thead>
                            {% for ans in answers %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{ans.user_a}}</td>
                                    <td>{{ans.question}}</td>
                                    <td>{{ans.answer}}</td>
                                    <td>
                                        <button type="button" id="delete-questions" class="delete-question btn btn-sm btn-dark" data-id="{% url 'forumapp:question_delete' ans.pk %}">
                                            <span class="fa fa-pencil"></span></button>
                                    </td>
        
        
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/modal/bootstrap.min.js' %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'js/modal/jquery.bootstrap.modal.forms.js' %}"></script>
    <script>
        
  
         // Delete book buttons
         console.log("ra,")
        $("#delete-questions").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        console.log("testst")

      })
    </script>
</body>

</html>

{% endblock %}