{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>Admin home</title>
    <style>
        .body{
            background-color: whitesmoke;
        }
    </style>
    
</head>
<body class="body">
    <br>
    <div class="container">
        <div class="row">
            <a href="{% url 'forumapp:userview' %}"><button type="button" class="btn btn-primary mr-2">View User</button> <a href="{% url 'forumapp:questionview' %}"></a>
            <a href="{% url 'forumapp:questionview' %}"><button type="button" class="btn btn-danger">View Question</button></a>
            <br><br>
            <table class="table table-bordered mt-2">
                <thead class="bg-primary">
                  <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">User</th>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                  </tr>
                </thead>
                {% for ans in answers %}
                    <tbody>
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ans.user_a}}</td>
                            <td>{{ans.question}}</td>
                            <td>{{ans.answer}}</td>

                        </tr>
                    </tbody>
                {% endfor %}
              </table>
              
              
       </div>
        
    </div>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
</body>

</html>

{% endblock %}
