{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block content %}
<html>

<head>
    <title>View User</title>

</head>

<body class="body">
    {% if messages %}
        {% for message in messages %}
            <li class="w-100 h-50" id="messages" style="margin-left: 16em;padding:0.5rem;background-color: blue;color: white;">

                {{ message|safe }}
            </li>
        {% endfor %}
    {% endif %}
    <br>
    <br>
    <div class="modal" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered mt-2">
                            <thead class="bg-primary">
                                <tr>
                                    <th scope="col">S.N</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Question</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Answer</th>
                                    <th scope="col">Likes</th>
                                    <th scope="col">Delete</th>
        
                                </tr>
                            </thead>
                            {% for ques in questions %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{ques.user_q.fname}}</td>
                                    <td>{{ques.question}}</td>
                                    <td>{{ques.category}}</td>
                                    <td>
                                        {% for ans in ques.related_question.all %}
                                            {% if ans %}{{forloop.counter}}.{{ans.answer}}<br>{% else %}None{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ques.like_question.count}}</td>
                                    <td>
                                        <a>
                                            <button class="del-ques btn-primary" type='button' data-id="{% url 'forumapp:question-admin-delete' ques.pk %}">
                                            <i class="fa fa-trash"></i>
                                            </button>
                                        </a>
                                    </td>
        
        
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/modal/bootstrap.min.js' %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'js/modal/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        
  
         // Delete book buttons
         console.log("hehe")
    //delete
    $(".del-ques").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });

    // #sucess messages hide
    var message_ele = document.getElementById("messages");
    console.log("message_ele",message_ele)
    setTimeout(function(){ 
        message_ele.style.display = "none"; 
    }, 3000);
    // Timeout is 3 sec, you can change it 

    </script>
</body>

</html>

{% endblock %}