{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block content %}
<html>

<head>

    <title>View User</title>

</head>

<body class="body">
    <div class="modal" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <br>
    <!-- modal pop up end  -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered mt-2">
                            <thead class="bg-primary">
                              <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">First_Name</th>
                                <th scope="col">Last_Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Image</th>
                                <th scope="col">Delete</th>
            
            
                              </tr>
                            </thead>
                            {% for user in myuser %}
                                <tbody>
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{user.fname}}</td>
                                        <td>{{user.lname}}</td>
                                        <td>{{user.email}}</td>
                                        <td>  
                                            <img src="{{ user.image.url }}" alt="img" style="width:80px;border-radius:80%">
                                        </td>
                                        <td>
                                            <a><button class="delete-user btn-primary" type='button' data-id="{% url 'forumapp:userdelete' user.pk %}">
                                                <i class="fa fa-trash"></i>
                                                </button>
                                            </a>
                                            <!-- <button type="button" id="delete-user btn btn-sm btn-dark" data-id="">
                                                <span class="fa fa-pencil"></span></button> -->
                                        </td>
            
            
                                    </tr>
                                </tbody>
                            {% endfor %}
                          </table>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/modal/bootstrap.min.js' %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'js/modal/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        
  
         // Delete book buttons
         console.log("hehe")
    //delete
    $(".delete-user").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    </script>
</body>

</html>

{% endblock %}



