{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>


</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!-- modal popup  -->
  <script src="{% static 'js/modal/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/modal/popper.min.js' %}"></script>
  <script src="{% static 'js/modal/bootstrap.min.js' %}"></script>
  <!-- You can alternatively load the minified version -->
  <script src="{% static 'js/modal/jquery.bootstrap.modal.forms.js' %}"></script>



  <div class="mynav">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a style="margin-left:200px;" class="navbar-brand" href="#">Forum</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active" style="padding-left: 11em;">
            <a class="nav-link" href="{% url 'forumapp:home' %}"><i class="fa fa-home fa-lg"></i>Home <span
                class="sr-only">(current)</span></a>
          </li>

          <!-- <li class="nav-item active pl-2">
                  <a class="nav-link" href="#"><i class="fa fa-bell fa-sm"></i>Notifications<span class="sr-only">(current)</span></a>
                </li> -->
          <button style="background: transparent;border: none">
            <li class="nav-item active pl-1">
              <a class="add-notification nav-link" data-id="{% url 'forumapp:notifications' %}"><i
                  class="fa fa-bell fa-sm"></i>Notifications</a>
            </li>
          </button>
          <!-- searching  -->

          <form action="/search/question/" method="GET" style="margin-left: 30px;" class="form-inline mr-3 my-lg-0">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" size="35" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </ul>
        {% if user.is_authenticated %}
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>
        <!-- <button class="add-btn btn btn-dark" style="margin-left: 14em;padding:8px;" type="button" name="button">Add question</button> -->


        <!-- <a href="{% url 'forumapp:questionadd' %}" style = "margin-left: 14em;padding:17px;"><button type="button" class="add-btn btn-dark">Add questions</button></a> -->
        <span style="margin-left:400px;">{% include 'forum/user_dropdown.html' with users=users %}</span>
        <!-- <a style = "margin-left: 15px;font-size: 30px;color: black;" href="{% url 'forumapp:register' %}"><i class="fa fa-user-circle"></i></a> -->

        {% else %}
        <div>
          <a href="{% url 'forumapp:register' %}" style="margin-left: 16em;"><button type="button"
              class="btn btn-dark">Signup</button></a>
          <a href="{% url 'forumapp:login' %}"><button type="button" class="btn btn-dark">Log In</button></a>

        </div>
        {% endif %}
      </div>

      <!-- sidebar  -->

    </nav>

  </div>
  <script type="text/javascript">
    $(function () {
      // Log in & Sign up buttons
      $(".add-btn").modalForm({
        formURL: "{% url 'forumapp:questionadd' %}"
      });

    });


    //this is cool effect when users click the reply button
    $('.reply-btn').click(function () {
      $(this).parent().parent().next('.reply-next').fadeToggle()
    });


    //notifications
    // add answer buttons
    $(".add-notification").each(function () {
      $(this).modalForm({
        formURL: $(this).data('id')
      });
    });
  </script>

  {% block content %}
  {% endblock %}
</body>

</html>