{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>home</title>
    <style>
        .body{
            background-color: whitesmoke;
        }
    </style>
</head>
<body class="body">

    <div class="row">
        <div class="col-lg-3">
            {% include 'forum/sidebar.html' %}
        </div>
        <div class="col-lg-9">
            {% if messages %}
                {% include 'forum/success_message.html' %}
            {% endif %}
            <br>
            {% include 'forum/feed.html' %}
        </div>
    </div>

</body>
</html>

{% endblock %}
