<!--sidebar start-->
{% load static %}
<head>
    <style>
    .sidebar-menu{
        color: #000000;
        /* border-bottom: 1px solid black; */
        margin-bottom: 2px;
        margin-left: 150px;
        margin-top: 25px;

    
    }
    hr {
        margin-top: 0px;
        max-width: 200px;
        margin-left: 140px;
    }
    .sub{
        margin: 10px 0px 10px 160px;
        color: black;
    }

</style>

</head>
<body>
    <div class="row">
        <div class="#">
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <p class="sidebar-menu">
                    <span>Feeds</span>
                    <hr>
                        <p class="sub">
                            <span><a class="#" href="form_component.html">Latest questions </a></span><br>
                            <span><a class="#" href="form_validation.html">Top questions</a></span>
                        </p>
                        </span>
                </p> 
            </div>    
                <!-- sidebar menu end-->
        
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <p class="sidebar-menu">
                    <span>Category</span>
                    <hr>
                    <p class="sub">
                        <span><a class="#" href="form_component.html">education </a></span><br>
                        <span><a class="#" href="form_validation.html">sports</a></span><br>
                        <span><a class="#" href="form_validation.html">design</a></span><br>
                        <span><a class="#" href="form_validation.html">politics</a></span><br>
                        <span><a class="#" href="form_validation.html">journalism</a></span><br>
                        <span><a class="#" href="form_validation.html">fashion and style</a></span>
                        

                    </p>
                    </span>
                </p> 
            </div>    
                
                    <!-- main menu end-->
            
        </div>
        
    </div>
</body>
  <!--sidebar end-->
